<?xml version="1.0" encoding="UTF-8"?>
<!--   
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<logger name="com.rubypaper" level="DEBUG"/>
</configuration>
-->
<!-- 
위 설정은 스프링 부트가 제공하는 기본 설정파일(base.xml) 파일을 포함하여 
(include) 새로운 로깅 설정을 하겠다는 것이다. 포함된 base.xml 설정 파일에는 어펜더(Appender)를
비롯하여 로깅 관련한 다양한 설정들이 기본적으로 설정되어 있다. 
그리고 com.rubypaper 패키지에서 출력하는 모든 로그를 출력하도록 로거(Logger)를 설정했다.
그리고 이 로거의 로그 레벨을 DEBUG로 지정했기 때문에 DEBUG 이상의 로그 메시지들이 출력된다.
-->

<!-- 
그런데 만약 스프링 부트가 기본으로 제공하는 설정파일(base.xml)을 사용하지 않고
직접 모든 것을 제어하고 싶다면 logback.xml을 다음과 같이 작성한다.
-->

<configuration>

<appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
	<file>src/main/resources/logs/board_log.log</file>
	
	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		<fileNamePattern>
			src/main/resources/logs/myboard.%d{yyyy-MM-dd}.log.gz
		</fileNamePattern>
		<maxHistory>30</maxHistory>
	</rollingPolicy>
	<encoder>
		<pattern>
		%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n
		</pattern>
	</encoder>
</appender>

<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
	<encoder>
		<pattern>
		%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n
		</pattern>
	</encoder>
</appender>

<logger name="com.rubypaper" level="warn" additivity="false">
	<appender-ref ref="consoleAppender" />
	<appender-ref ref="fileAppender" />
</logger>

<root level="error">
	<appender-ref ref="consoleAppender" />
</root>

</configuration>